{% if component.hasBulkActions %}
    <div class="col-md-12 btn-group">
        {% for action in component.bulkActions %}
            {% if action.role is null or is_granted(action.role) %}
                {% set url = action.getUrl() %}
                {% if action.template is not null %}
                    {% include action.template with {'action': action} %}
                {% elseif action.choices %}
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4" for="bul_action_{{ action.id }}">{{ action.getlabel }}</label>
                            <div class="col-sm-8">
                                <select data-url="{{ path(url["path"], url[("params")] ) }}" data-ida="{{ action.id }}" class="select2 lego-bulk-combobox">
                                    <option value=""></option>
                                    {% for key,value in action.choices %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a href="{{ path(url["path"], url[("params")] ) }}" data-ida="{{ action.id }}" class="btn btn-default disabled lego-bulk-button pull-right">
                        {% if action.getIcon() is not null %}
                            <i class="icon-{{ action.icon }} }}"></i> {{ action.label|trans }}
                        {% else %}
                            {{ action.label|trans }}
                        {% endif %}
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <script>
        $(function() {
            $('body').on('click', '#{{ component.gid('body') }} .lego-bulk-button', function (evt) {
                evt.preventDefault();
                var ids = [];
                $('#{{ component.gid('body') }} .lego-bulk-checkbox').each(function (evt) {
                    if ($(this).is(':checked')) {
                        ids.push(parseInt($(this).val()));
                    }
                });
                lego.post($(this).attr('href'), {
                    'ids': ids
                }, function (data) {
                    $('#{{ component.id }}').html(data.html);
                    lego.success(data.message);
                });
            });

            $('body').on('change', '#{{ component.gid('body') }} .lego-bulk-combobox', function (evt) {
                evt.preventDefault();
                var ids = [];
                $('#{{ component.gid('body') }} .lego-bulk-checkbox').each(function (evt) {
                    if ($(this).is(':checked')) {
                        ids.push(parseInt($(this).val()));
                    }
                });
                lego.post($(this).attr('data-url'), {
                    'ids': ids,
                    'value': $(this).val(),
                }, function (data) {
                    $('#{{ component.id }}').html(data.html);
                    lego.success(data.message);
                });
            });


            $('body').on('change', '#{{ component.gid('body') }} .lego-bulk-checkbox', function (evt) {
                var allChecked = true;
                var oneChecked = false;
                $('#{{ component.gid('body') }} .lego-bulk-checkbox').each(function (evt) {


                    if ($(this).is(':checked')) {
                        oneChecked = true;
                    } else {
                        allChecked = false;
                    }

                });
                $('#{{ component.gid('all-checkbox') }}').prop('checked', allChecked);
                if (oneChecked) {
                    $('#{{ component.gid('body') }} .lego-bulk-button').removeClass('disabled');
                } else {
                    $('#{{ component.gid('body') }} .lego-bulk-button').addClass('disabled');
                }
            });

            $('body').on('change', '#{{ component.gid('all-checkbox') }}', function (evt) {
                if ($(this).is(':checked') == true) {
                    $('#{{ component.gid('body') }} .lego-bulk-checkbox').prop('checked', true);
                    $('#{{ component.gid('body') }} .lego-bulk-button').removeClass('disabled');
                } else {
                    $('#{{ component.gid('body') }} .lego-bulk-checkbox').prop('checked', false);
                    $('#{{ component.gid('body') }} .lego-bulk-button').addClass('disabled');
                }
            });
        });
    </script>
{% endif %}