
{%  set configurator = component.configurator  %}
{%  set index = 1  %}
{%  if not component.hideEntityActions %}
<td class="actions">
        {% for entityAction in component.entityActions %}
            {% if entityAction.isShow(item) %}
                {% set path = entityAction.getPath(item) %}
                {% if entityAction.template is not null %}
                    {% include entityAction.template with {'item': item, 'action': entityAction, 'path': path} %}
                {% else %}
                        {% if entityAction.isXhr %}
                            {% set pathline = component.path('entityreload',{'id':item.id}) %}
                            <span
                                data-line="{{ component.gid('line') }}-{{ item.id }}"
                                data-confirm="Voulez vous vraiment effectuer cette action ?"
                                data-donnes="{'index':{{ index }} }"
                                data-type="html"
                                data-url="{{ path(path.route, path.params) }}"
                                data-content-reload="{{ path(pathline.route,pathline.params) }}"
                                data-content-reload-callback="legoReloadLine"
                                class="jsa-ajax btn btn-primary btn-xs">
                                {% if entityAction.getIconFor(item) is not null %}<i class="fa fa-{{ entityAction.getIconFor(item) }}"></i>{% endif %}
                                {{ entityAction.getLabelFor(item) }}
                            </span>
                        {% elseif entityAction.isModal %}
                            {% include entityAction.modal %}
                            <a href="#" data-toggle="modal" data-target="#modal-delete-{{ item.id }}" class="btn btn-xs {{ entityAction.cssClass }}"><i class="fa fa-{{ entityAction.getIconFor(item) }}"></i>{{ entityAction.getLabelFor(item) | trans }}</a>
                        {% elseif entityAction.isPopup %}
                            <span
                                data-url="{{ path(path.route,path.params)}}"
                                class="jsa-popup btn btn-primary btn-xs">
                                {% if entityAction.getIconFor(item) is not null %}<i class="fa fa-{{ entityAction.getIconFor(item) }}"></i>{% endif %}
                                {{ entityAction.getLabelFor(item) }}
                            </span>
                        {% elseif path %}
                             <a {% if entityAction.target %} target="{{ entityAction.target }}" {% endif %}
                           id="action-{{index}}-{{entityAction.getLabelFor(item) }}" href="{{ path(path.route, path.params) }}" class="btn {{ entityAction.cssClass }} btn-xs">
                            {% if entityAction.getIconFor(item) is not null %}<i class="fa fa-{{ entityAction.getIconFor(item) }}"></i>{% endif %}{{ entityAction.getLabelFor(item)|trans }}
                         </a>

                        {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
</td>
{%  endif %}
