
{%  set configurator = component.configurator  %}
{%  set index = 1  %}
{%  if not component.hideEntityActions %}
<td class="actions">
        {% for itemAction in component.entityActions %}
            {% if itemAction.isShow(item) %}
                {% set url = itemAction.getUrlFor(item) %}
                {% if itemAction.template is not null %}
                    {% include itemAction.template with {'item': item, 'action': itemAction, 'url': url} %}
                {% else %}
                        {% if itemAction.isXhr %}
                            <span
                                data-line="line-{{ item.id }}"
                                data-confirm="Voulez vous vraiment effectuer cette action ?"
                                data-donnes="{'index':{{ index }} }"
                                data-type="html"
                                data-callback="reloadLine"
                                data-url="{{ path(url["path"],url[("params")] ) }}"
                                class="lle-ajax btn btn-primary btn-xs">
                                {% if itemAction.getIconFor(item) is not null %}<i class="glyphicon glyphicon-{{ itemAction.getIconFor(item) }}"></i>{% endif %}
                                {{ itemAction.getLabelFor(item) }}
                            </span>
                        {% elseif itemAction.isModal %}
                            {% include itemAction.modal %}
                            <a href="#" data-toggle="modal" data-target="#modal-delete-{{ item.id }}" class="btn btn-xs {{ itemAction.cssClass }}"><i class="glyphicon glyphicon-{{ itemAction.getIconFor(item) }}"></i>{{ itemAction.getLabelFor(item) | trans }}</a>
                        {% elseif itemAction.isPopup %}
                            <span
                                data-url="{{ path(url["path"],url[("params")] ) }}"
                                class="lle-popup btn btn-primary btn-xs">
                                {% if itemAction.getIconFor(item) is not null %}<i class="glyphicon glyphicon-{{ itemAction.getIconFor(item) }}"></i>{% endif %}
                                {{ itemAction.getLabelFor(item) }}
                            </span>
                        {% elseif url %}
                             <a {% if itemAction.target %} target="{{ itemAction.target }}" {% endif %}
                           id="action-{{index}}-{{itemAction.getLabelFor(item) }}" href="{{ path(url["path"], url[("params")]) }}" class="btn btn-primary btn-xs">
                            {% if itemAction.getIconFor(item) is not null %}<i class="glyphicon glyphicon-{{ itemAction.getIconFor(item) }}"></i>{% endif %}{{ itemAction.getLabelFor(item) }}
                         </a>

                        {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
</td>
{%  endif %}
