 <div id="modal-delete-{{ item.id }}" class="modal fade">
        <div style="
            width: 600px;
            height: 154px;
            background-color: #fff;
            margin: auto;
            margin-top: 50px;">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3>{{  'lego.ask.confirmation.delete'|trans }}</h3>
            </div>
            <div class="modal-footer">
                <div class="btn_group">
                    {% if configurator.isXhrDelete %}
                        <a class="lle-ajax btn btn-danger"
                        data-callback="deleteElement"
                        data-dismiss="modal"
                        data-url="{{ path(configurator.getPathRoute('delete'),configurator.getPathParams(item) ) }}"
                        data-line="line-{{ item.id }}">Oui</a>
                    {% else %}
                        <button type="submit" class="btn btn-danger" value="delete" name="delete" >{{ 'lego.word.yes'|trans }}</button>
                    {% endif %}
                    <button class="btn" data-dismiss="modal">{{ 'lego.word.no'|trans }}</button>
                </div>
            </div>
        </div>

    </div>
