<div class="box">
    <div class="box-body"  id="{{ component.gid('body') }}">
        <div class="table_overflow_fix table-responsive">
            <table class="table table-striped table-hover table-bordered table-sortable responsive">
        <thead>
        <tr>
            {% set nbCol = 1 %}
            {% if component.hasBulkActions %}
                {% set nbCol = nbCol + 1 %}
                <th style="width: 15px;">
                    <input type="checkbox" id="{{ component.gid('all-checkbox') }}">
                </th>
            {% endif %}
            {% for field in component.fields %}
                {% set nbCol = nbCol + 1 %}
                {% set columnName = field.name %}
                {% set columnkey = field.header %}
                {% set orderDirection = "DESC" %}
                {% set extraHeaderClass = "" %}
                {% if ( columnName == configurator.orderBy )%}
                    {% if configurator.orderDirection == "DESC" %}
                        {% set orderDirection = "ASC" %}
                        {% set extraHeaderClass = "sorting_desc" %}
                    {% else %}
                        {% set extraHeaderClass = "sorting_asc" %}
                    {% endif %}
                {% else %}
                    {% set extraHeaderClass = "sorting" %}
                {% endif %}
                <th {% if field.style %} style="{{ field.style }}"  {% endif %} class="{{extraHeaderClass}}" onclick="window.location = '{{ path(configurator.getPathRoute('index'), { 'orderBy': columnName, "orderDirection": orderDirection })}}'">
                    <span class="pull-right sort-icon"></span>
                    {{ columnkey | trans }}
                </th>
            {% endfor %}
            {% if not component.hideEntityActions() %}
                <th class="actions-header">{{ 'lego.header.action'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        {% for item in component.configurator.items() %}
            {% include component.partial('line') with {'component':component ,'item':item} %}
        {% endfor %}

        </tbody>
    </table>

            {% if component.hasBulkActions %}
                    <div class="col-md-12 btn-group">
                        {% for action in component.bulkActions %}
                            {% if action.role is null or is_granted(action.role) %}
                                {% set url = action.getUrl() %}
                                {% if action.template is not null %}
                                    {% include action.template with {'action': action} %}
                                {% elseif action.choices %}
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="col-sm-4" for="bul_action_{{ action.id }}">{{ action.getlabel }}</label>
                                            <div class="col-sm-8">
                                                <select data-url="{{ path(url["path"], url[("params")] ) }}" data-ida="{{ action.id }}" class="select2 lego-bulk-combobox">
                                                    <option value=""></option>
                                                    {% for key,value in action.choices %}
                                                        <option value="{{ key }}">{{ value }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <a href="{{ path(url["path"], url[("params")] ) }}" data-ida="{{ action.id }}" class="btn btn-default disabled lego-bulk-button pull-right">
                                        {% if action.getIcon() is not null %}
                                            <i class="icon-{{ action.icon }} }}"></i> {{ action.label|trans }}
                                        {% else %}
                                            {{ action.label|trans }}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                <script>
                    $(function() {
                        $('body').on('click', '#{{ component.gid('body') }} .lego-bulk-button', function (evt) {
                            evt.preventDefault();
                            var ids = [];
                            $('#{{ component.gid('body') }} .lego-bulk-checkbox').each(function (evt) {
                                if ($(this).is(':checked')) {
                                    ids.push(parseInt($(this).val()));
                                }
                            });
                            lego.post($(this).attr('href'), {
                                'ids': ids
                            }, function (data) {
                                $('#{{ component.id }}').html(data.html);
                                lego.success(data.message);
                            });
                        });

                        $('body').on('change', '#{{ component.gid('body') }} .lego-bulk-combobox', function (evt) {
                            evt.preventDefault();
                            var ids = [];
                            $('#{{ component.gid('body') }} .lego-bulk-checkbox').each(function (evt) {
                                if ($(this).is(':checked')) {
                                    ids.push(parseInt($(this).val()));
                                }
                            });
                            lego.post($(this).attr('data-url'), {
                                'ids': ids,
                                'value': $(this).val(),
                            }, function (data) {
                                $('#{{ component.id }}').html(data.html);
                                lego.success(data.message);
                            });
                        });


                        $('body').on('change', '#{{ component.gid('body') }} .lego-bulk-checkbox', function (evt) {
                            var allChecked = true;
                            var oneChecked = false;
                            $('#{{ component.gid('body') }} .lego-bulk-checkbox').each(function (evt) {


                                if ($(this).is(':checked')) {
                                    oneChecked = true;
                                } else {
                                    allChecked = false;
                                }

                            });
                            $('#{{ component.gid('all-checkbox') }}').prop('checked', allChecked);
                            if (oneChecked) {
                                $('#{{ component.gid('body') }} .lego-bulk-button').removeClass('disabled');
                            } else {
                                $('#{{ component.gid('body') }} .lego-bulk-button').addClass('disabled');
                            }
                        });

                        $('body').on('change', '#{{ component.gid('all-checkbox') }}', function (evt) {
                            if ($(this).is(':checked') == true) {
                                $('#{{ component.gid('body') }} .lego-bulk-checkbox').prop('checked', true);
                                $('#{{ component.gid('body') }} .lego-bulk-button').removeClass('disabled');
                            } else {
                                $('#{{ component.gid('body') }} .lego-bulk-checkbox').prop('checked', false);
                                $('#{{ component.gid('body') }} .lego-bulk-button').addClass('disabled');
                            }
                        });
                    });
                </script>
            {% endif %}

        </div>
    </div>
</div>