
{% if attribut.isEditInPlace %}
    {% set id_attr = attribut.id %}
        {% if attribut.isBool   %}
            <span class="edit-in-place" id="span-{{ id_attr }}-{{ item.id }}" data-column-name="{{ id_attr }}" data-item-id="{{ item.id }}">
                {% if value is not null and value != ''%}
                    {% if value  == "1" %} Oui {% else %} Non {% endif %}
                {% else %}
                    <em></em>
                {% endif %}
            </span>
            <span id="span-in-{{ id_attr }}-{{ item.id }}" style="display:none;">
                <select id="input-{{ id_attr }}-{{ item.id }}" data-item-id="{{ item.id }}" data-column-name="{{ id_attr }}"  type="text" value="{{ value }}">
                        <option value="1" {% if value == 1 %} selected {% endif %}>Oui</option>
                        <option value="0" {% if value == 0 %} selected {% endif %}>Non</option>
                        <option value="" {% if value != 1 and value != 0 %} selected {% endif %}>Sans objet</option>
                </select>
                <span 
                    data-target="{{ path(adminlist.getEditInPlaceAttrUrl()['path']) }}" 
                    data-item-id="{{ item.id }}" data-column-name="{{ id_attr }}" 
                    data-class=""
                    class="edit-in-place-ok">
                        <i class="fa fa-check-circle"></i>
                </span>
                <span data-item-id="{{ item.id }}" data-column-name="{{ id_attr }}" class="edit-in-place-close">
                    <i class="fa fa-close"></i>
                </span>
            </span>
        {% else %}
            <span class="edit-in-place" id="span-{{ id_attr }}-{{ item.id }}" data-column-name="{{ id_attr }}" data-item-id="{{ item.id }}">
                {% if value != '' and value is not null %}
                    {{ value }}
                {% else %}
                    <em></em>
                {% endif %}
            </span>
            <span id="span-in-{{ id_attr }}-{{ item.id }}" style="display:none;">
                {% if attribut.isList %}
                    <select id="input-{{ id_attr }}-{{ item.id }}" type="text" value="{{ value }}">
                        <option value="" {% if value == '' %} selected {% endif %}></option>
                        {% for v in attribut.list() %}
                            <option value="{{ v }}" {% if value == v %} selected {% endif %}>{{ v }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input id="input-{{ id_attr }}-{{ item.id }}" type="text" value="{{ value }}" class="attributField"/>
                {% endif %}
                <span 
                    data-target="{{ path(adminlist.getEditInPlaceAttrUrl()['path']) }}" 
                    data-item-id="{{ item.id }}" data-column-name="{{ id_attr }}" 
                    data-class=""
                    class="edit-in-place-ok">
                        <i class="fa fa-check-circle"></i>
                </span>
                <span data-item-id="{{ item.id }}" data-column-name="{{ id_attr }}" class="edit-in-place-close">
                    <i class="fa fa-close"></i>
                </span>
            </span>
        {% endif %}
    
{% else %}
    {{ attribut.libelle }}: {{ value }}
{% endif %}
