<header class="main-header">
    <!-- Logo -->
    <a href="" class="logo">
        <span class="logo-mini">{{  header.getTitle('mini')|raw }}</span>
        <span class="logo-lg">{{ header.getTitle('lg')|raw }}</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        {%  if header.hasActionToggle %}
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        {%  endif %}

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {%  for item in header.items %}
                    <li class="dropdown {{ item.class }}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {%  if item.icon %}<i class="fa fa-{{ item.icon }}"></i>{%  endif %}
                            {%  if item.label %}<span class="label {{ item.label.class }}">{{ item.label.libelle }}</span>{%  endif %}
                            {%  if item.libelle %}<span class="hidden-xs">{{ item.libelle }}</span>{%  endif %}
                        </a>
                        <ul class="dropdown-menu">
                            {%  if item.template %}
                                {% include item.template with item.templateParameters %}
                            {%  endif %}
                        </ul>
                    </li>
                {%  endfor %}
                <!-- Control Sidebar Toggle Button -->
                {%  if header.hasMenuRight %}
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
                {%  endif %}
            </ul>
        </div>
    </nav>
</header>