<span id="{{ component.gid('field')  }}-{{ item.id }}-{{ field.id }}">
{% if eipType and field.isEditInPlace(item) and (not field.editInPlaceRole or is_granted(field.editInPlaceRole)) %}

    {% include '@IdkLego/EditInPlaceType/_edit_in_place.html.twig' %}

{% else %}

    {% set type = configurator.getType(item,field.name) %}

    {% if path  %} <a href="{{ path(path.route,path.params) }}"> {% endif %}
    {% if type == 'boolean' %}
        {% if stringValue is  same as("oui") %}
            <i style="color:green" class="fa fa-check-square-o"></i>
        {% else %}
            <i style="color:#dcdada" class="fa fa-square-o"></i>
        {% endif %}
    {% elseif type == 'json_array' or type == 'json' %}
        {%  if value %}
            <span class="jsa-popup" title="JSON" data-popup-id="{{ field.name }}_{{ item.id }}">Json</span>
            <div class="hidden" id="{{ field.name }}_{{ item.id }}"><div id="{{ field.name }}_{{ item.id }}_json" style="width: 100%; height: 400px;"></div></div>
            <script>
                var container = document.getElementById("{{ field.name }}_{{ item.id }}_json");
                var {{ field.name }}_{{ item.id }}_json = new JSONEditor(container, {'mode':'view'});
                {{ field.name }}_{{ item.id }}_json.set(JSON.parse('{{  value|json_encode()|raw }}'));
            </script>
        {%  endif %}
    {% elseif field.isColor %}
        <div style="background-color:{{value}}; border:1px solid black; width:20px; height:20px; display:inline-block;"></div>&nbsp;{{ stringValue|raw }}
    {%  elseif  field.isImage %}
        {%  if stringValue %}
            <img width="{{ field.image.width }}" src="{{ field.image.directory }}/{{ stringValue|raw }}" alt="{{ stringValue|raw }}"/>
        {%  endif %}
    {% else %}
        {{ stringValue|raw }}
    {% endif %}
    {% if path  %} </a> {% endif %}
{% endif %}
</span>