{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="lego-flash alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i>{{ 'lego.flash.error'|trans }}</h4>
        {{ flashMessage|raw }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="lego-flash alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-warning"></i>{{ 'lego.flash.warning'|trans }}</h4>
        {{ flashMessage|raw }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="lego-flash alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-info"></i>{{ 'lego.flash.info'|trans }}</h4>
        {{ flashMessage|raw }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="lego-flash alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i>{{ 'lego.flash.success'|trans }}</h4>
        {{ flashMessage|raw }}
    </div>
{% endfor %}
