<div class="main_actions btn-group">
    <button type="submit" class="btn btn-primary">{{ 'Enregistrer' | trans }}</button>
    {% if  referer_sublist is defined and referer_sublist %}
    	<button type="reset"
        onclick="window.location = '{{ referer_sublist }}'"
        class="btn btn-default">{{ 'Annuler' | trans }}</button>
            
    {% else %}
	    <button type="reset"
	        onclick="window.location = '{{ path(adminlistconfigurator.getIndexUrl()["path"], adminlistconfigurator.getIndexUrl()["params"]) }}'"
	        class="btn btn-default">{{ 'Annuler' | trans }}</button>
    {% endif %}
</div>