<div class="row">
    <div class="col-md-12">
        {% for group in groups %}
        <div class="col-md-{{ group.cols.md }} col-xs-{{ group.cols.xs }} col-lg-{{ group.cols.lg }} col-sm-{{ group.cols.sm }}">
            {% if group.title %}
                <h2>{{ group.title }}</h2>
            {% endif %}
            {% for field in group.fields %}
                {{ form_row(form[field.name]) }}
            {% endfor %}
        </div>
        {% endfor %}
        {{ form_rest(form) }}
    </div>
</div>
</div style="clear:both;"></div>
