{% if parentItem is not defined or parentAdminlist is not defined %}
    {% set parentItem = null %}
    {% set parentAdminlist = null %}
    {# Si vrais nous somme dans une sublist #}
{% endif %}

{% if onlyBottom is not defined %}
    {% if adminlist.canAdd()  %}
        {% set adminaddlist = adminlist.getAddUrl(parentItem) %}
        {% if adminaddlist|length > 1 %}
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">{{ 'form.add' | trans }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% for key,add in adminaddlist %}
                    <li><a href="{{ path(add["path"], add[("params")]) }}" >{{ key }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            {% for key,add in adminaddlist %}
                <a class="btn btn-primary btn-small" id="add_new" href="{{ path(add["path"], add[("params")]) }}">{{ 'Ajouter' | trans }}</a>
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if adminlist.canExport()  %}
        <div class="btn-group dropdown">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-download-alt"></i>
                Exporter vers
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                {% set exportparams = adminlist.getExportUrl(parentItem)[("params")] %}
                {% for name, ext in supported_export_extensions() %}
                    {% set exportparams = exportparams|merge({"_format": ext}) %}
                    <li><a href="{{ path(adminlist.getExportUrl(parentItem)["path"], exportparams) }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}
{% if adminlist.hasListActions %}
    {% for action in adminlist.getListActions() %}
        {% if (action.role and is_granted(action.role)) or not action.role %}
            {% if (onlyBottom is not defined and action.isTop) or (onlyBottom is defined and action.isBottom) %}
                {% if (parentItem and action.isSublist) or (not parentItem and not action.isSublist) %}
                    {% if action.template is not null %}
                        {% include action.template with {'action': action, 'parentItem': parentItem} %}
                    {% else %}
                        {% set url = action.getUrl(adminlist,parentItem) %}
                        <a href="{{ path(url["path"], url[("params")] ) }}" {% if action.target %} target="{{ action.target }}" {% endif %} class="btn btn-default">
                            {% if action.getIcon() is not null %}
                                <i class="icon-{{ action.getIcon() }} }}"></i> {{ action.getLabel()|trans }}
                            {% else %}
                                {{ action.getLabel()|trans }}
                            {% endif %}
                        </a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if onlyBottom is not defined  and not parentAdminlist %}
    {% if adminlist.isLoggable()  %}
        {% set url = adminlist.getLogsUrl() %}
        <a class="btn btn-primary pull-right" href="{{ path(url["path"]) }}">Historique</a>
    {% endif %}
{% endif %}