{% extends '::lego.html.twig' %}
{% block title %}{{ parent() }} - {{adminlist.getTitle()}}{% endblock %}
{% block page_title %}{{adminlist.getTitle()}}{% endblock %}
{% block page_subtitle %}{{adminlist.getSubTitle()}}{% endblock %}
 
{% block extra_actions_header %}

    {% if adminlist.canAdd() or adminlist.canExport() or  adminlist.hasListActions or adminlist.isLoggable %}
        <div class="extra_actions_header">
            <div class="btn-group pull-right">
                {% include 'IdkLegoBundle:Default:_list_actions.html.twig' with { 'adminlist':adminlist } %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block content %}
    {% if adminlist.getIndexUrl()['params'] is defined %}
        {{ adminlist_widget(adminlist, adminlist.getIndexUrl()["path"], adminlist.getIndexUrl()['params']) }}
    {% else %}
        {{ adminlist_widget(adminlist, adminlist.getIndexUrl()["path"], adminlist.getIndexUrl()) }}
    {% endif %}
    {% include adminlist.getScriptTemplate() with {'template':'list'} %}

{% endblock %}
