{% block lego_geo_json_widget %}
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcRv1Xg6n_zmz9-npl2UnmnhX1Hg5-i5s&libraries=drawing">
</script>
<br />
<div style="width:{{ width }}; height:{{ height }};" id="{{ id_map}}"></div>
<input type="hidden" value="{{ value }}" id="{{id}}" {{ block('widget_attributes') }} />
<span id="{{ id_reset }}">Effacer le tracé<span>
<script>

function initialize() {
  var mapOptions = {
    center: new google.maps.LatLng({{ lat }}, {{ lng }}),
    zoom: {{ zoom }},
    mapTypeId: {{ map_type }}
  };

	var map = new google.maps.Map(document.getElementById('{{ id_map}}'),mapOptions);
	var overlays = [];
	var list = [];


	var drawingManager = new google.maps.drawing.DrawingManager({
		drawingMode: google.maps.drawing.OverlayType.POLYLINE,
		drawingControl: true,
		drawingControlOptions: {
			position: google.maps.ControlPosition.TOP_CENTER,
			drawingModes: [google.maps.drawing.OverlayType.POLYLINE]
		}
	});
	drawingManager.setMap(map);

	google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
		overlays.push(event.overlay);
		var points = event.overlay.getPath();
		for (var i =0; i < points.getLength(); i++) {
		    var xy = points.getAt(i); //LatLang for a polyline
		    var item = { "lat" : xy.lat(), "lng":xy.lng()};
		    list.push(item);
		}
		$('#{{ id }}').val(JSON.stringify(list));
	});

	function toLatLng(p) {
		return new google.maps.LatLng(p.lat, p.lng);
	}

	var data = JSON.parse($('#{{ id }}').val());
	if(data && data.map){
		var points = data.map(toLatLng);

		var poly = new google.maps.Polyline({
			path: points,
			geodesic: true,
			strokeColor: '#FF0000',
			strokeOpacity: 1.0,
			editable: true
		});
		poly.setMap(map);
		for(var k in points){
			list.push({ "lat" : points[k].lat(), "lng":points[k].lng()});
		}
		overlays.push(poly);
	}

	$('#{{ id_reset }}').click(function(){
		$('#{{ id }}').val('');
		for (var k in overlays){
			overlays[k].setMap(null);
		}
		overlays = [];
		list = [];
	});


}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block lego_gedmo_translatable_widget %}
    {% spaceless %}
        {% set fieldname = form.vars.name %}
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                {% for locale in locales %}
                    {% set isActiveTab = (locale == currentlocale) ? 'active' : '' %}
                    {# TAB LABEL #}
                    <li class="{{ isActiveTab }}">
                        <a aria-expanded="true" href="{{ '#' ~ fieldname ~ '_' ~ locale }}" data-toggle="tab">
                            {{ tablabels[locale] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for locale in locales %}
                    {% set isActiveTabContent = (locale == currentlocale) ? 'active' : '' %}
                    {# TAB CONTENT #}
                    <div class="tab-pane {{ isActiveTabContent }}" id="{{ fieldname ~ '_' ~ locale }}">
                        {{ form_widget(attribute(form, locale)) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}


{% block lego_lat_lng_widget %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcRv1Xg6n_zmz9-npl2UnmnhX1Hg5-i5s">
</script>
<br />
<div style="width:{{ width }}; height:{{ height }};" id="{{ id }}_map"></div>
<div id="{{ id }}_action_centrer" class="btn btn-default">Centrer</div>
<div id="{{ id }}_action_supprimer" class="btn btn-default">Supprimer</div>
&nbsp;
<input  type="hidden" value="{{ value.lat }}" id="{{id}}_lat" name="{{full_name}}[lat]" />
<input  type="hidden" value="{{ value.lng }}" id="{{id}}_lng" name="{{full_name}}[lng]" />
<script>
var {{ id }} = {
    latlng : new google.maps.LatLng({{ lat }}, {{ lng }}),
    change: function(latLng){
        this.latlng = latLng;
        $('#{{id}}_lat').val(this.latlng.lat());
        $('#{{id}}_lng').val(this.latlng.lng());
    },
    centrer: function(){
        this.map.setCenter(this.latlng);
    },
    supprimer: function(){
        $('#{{id}}_lat').val('');
        $('#{{id}}_lng').val('');
        this.marker.setOpacity(0);
    },
    init: function() {
        var self = this; {# suis qui trouve comment evité ça CHOCOLAT #}

        this.map = new google.maps.Map(document.getElementById('{{ id }}_map'),{
            center: this.latlng,
            zoom: {{ zoom }},
            mapTypeId: {{ map_type }},
            disableDefaultUI: true,
        });

        this.marker = new google.maps.Marker({
            position: this.latlng,
            map: this.map,
            draggable: true,
        });

        this.map.addListener('click', function(event) {
            self.change(event.latLng);
            self.marker.setOpacity(1);
            self.marker.setPosition(event.latLng);
        });

        this.marker.addListener('dragend', function(event) {
            self.change(event.latLng);
        });
    }
}
$(function(){
    {{id}}.init();
    $('#{{ id }}_action_centrer').click(function(e){
        {{id}}.centrer();
    });
    $('#{{ id }}_action_supprimer').click(function(e){
        {{id}}.supprimer();
    });
});
</script>
{% endblock %}


{% block lego_date_widget %}
    <input {% if placeholder %} placeholder="{{ placeholder }}" {% endif %} class="form-control" type="text" value="{{ value }}" id="{{id_date_picker}}" {{ block('widget_attributes') }}/>
    <script>
		$(function(){
		    $('#{{id_date_picker}}').datepicker({
                defaultDate: '{{ value }}',
                dateFormat: '{{ date_format }}',
                {% if edit_month %} changeMonth: {{ edit_month }}, {% endif %}
                {% if edit_year %} changeYear: {{ edit_year }},{% endif %}
                beforeShowDay: function(date) {
                    var day = date.getDay();
                    return [(JSON.parse('{{ noday }}').indexOf(day) < 0), ''];
                },
                {% if min is not null %} minDate: {{ min|raw }}, {% endif %}
                {% if max is not null %} maxDate: {{ max|raw }}, {% endif %}
                {% if is_birthday %} yearRange : 'c-100:c+1', {% endif %}
            });
		});
	</script>
{% endblock %}

{% block lego_date_time_widget %}
    DT
    <input type="text" value="{{ value }}" id="{{id_date_picker}}" {{ block('widget_attributes') }}/>
	<script>
	    $('#{{id_date_picker}}').datetimepicker();
	</script>

{% endblock %}


{% block lego_time_widget %}
    T
    <input class="form-control" type="text" value="{{ value }}" id="{{id_time_picker}}" {{ block('widget_attributes') }}/>
    <script>
        $('#{{id_time_picker}}').timepicker({
            format: 'hh:ii',
            maxView: 0,
            minView: 0,
            startView: 0,
            locale: 'fr',
            {% if min_time %} minTime: '{{ min_time }}', {% endif %}
            {% if max_time %} maxTime: '{{ max_time }}', {% endif %}
        });
        $('#{{id_time_picker}}').change(function(evt){
            var spl = $(this).val().split(':');
            if(spl.length){
                if(spl.length > 2 || spl[0].length > 2 || (spl[1] && spl[1].length > 2)){
                    spl[1] = '00';
                    spl[0] = '00';
                }
                if(spl.length == 2 && spl[1].length == 1){
                    spl[1] = '0'+spl[1];
                }
                if(spl[0].length == 1){
                    spl[0] = '0'+spl[0];
                }
                if(spl.length == 1 && spl[0].length == 2){
                    spl[1] = '00';
                }
                if(spl[0] > 23) spl[0] = '23';
                if(spl[1] > 59) spl[1] = '59';
            }
            $(this).val(spl[0]+':'+spl[1]);
        });
    </script>
{% endblock %}



{% block markdown_widget %}
    <textarea rows="30" id="{{id}}" {{ block('widget_attributes') }} data-provide="markdown">{{value}}</textarea>
    <div class="box-group" id="keywords"></div>
    <script>
        var datalist = $.parseJSON({{list|raw}});
        var category_name = '';
        var cartegory = null;

        $.each(datalist, function(index, keyword) {
            if( category_name!= keyword.category ) {
                category = index;
                category_name = keyword.category;
                accordion = "\
                    <div class=\"panel box bow-primary\">\n\
                    <div class=\"box-header with-border\">\n\
                    <h5 class=\"box-title\">\n\
                        <a class=\"collapsed\" data-toggle=\"collapse\" data-parent=\"#keywords\" href=\"#"+category+"-index\">"+keyword.category+"</a>\n\
                    </h5>\n\
                    <div id=\""+category+"-index\" class=\"panel-collapse collapse\">\n\
                        <div id=\""+category+"-inner\" class=\"box-body\">\n\
                            <ul id=\""+category+"-list\"></ul>\n\
                        </div>\n\
                    </div>";
                $('#keywords').append(accordion);
            }
            $('#'+category+'-list').append("<li><a href=\"#\" id=\""+keyword.name+"\">"+keyword.label+"</a></li>");
            $('#'+category+'-list').append("<script>$('#"+keyword.name+"').click(function(e) { $('#{{id}}').insertAtCaret('{" + keyword.name +"}');e.preventDefault();});<\/script>");
        });
    </script>
{% endblock %}

{% block wysihtml_widget %}
    <textarea style="width:100%;" rows="10" id="{{id}}" {{ block('widget_attributes') }}>{{value}}</textarea>
    <script>
        $('#{{ id }}').wysihtml5();
    </script>
{% endblock %}

{% block ckeditor_widget %}
    <textarea style="width:100%;"  rows="10" id="{{id}}" {{ block('widget_attributes') }}>{{value}}</textarea>
    <script>
        $('#{{ id }}').wysihtml5();
        //TODO CKEDITOR
    </script>
{% endblock %}

{% block json_human_widget %}
    <div id="{{ id }}_errors"></div>
    <div id="{{ id }}_json"></div>
    <script>
    var {{ id }}schema = {{  schema|raw }}
        window.editor{{ id }}startval = null
    function {{ id }}_load(value, schema){
        var schema = (schema)? schema:{{  schema|raw }};
        JSONEditor.defaults.options.theme = 'bootstrap2';
        if(value){
            window.editor{{ id }}startval = value;
        }
        if(window.editor{{ id }}) {
            window.editor{{ id }}.destroy()
        }
        window.editor{{ id }} = new JSONEditor(document.getElementById("{{ id }}_json"),{
            schema: schema,
            disable_collapse: true,
            disable_properties: true,
            form_name_root: '{{ full_name }}',
            disable_edit_json: {{ disable_edit_json }},
            no_additional_properties: {{ no_additional_properties }},
            required_by_default: {{ required_by_default }}
        });

        if(value){
            window.editor{{ id }}.setValue(value);
        }else{
            window.editor{{ id }}.setValue(window.editor{{ id }}startval);
        }
        window.editor{{ id }}.on("change",  function() {
            var errors = window.editor{{ id }}.validate();
            $('#{{ id }}_errors').html("");
            if(errors.length) {
                $('#{{ id }}_errors').html("Erreur schema");
            }
        });
    };
    {{ id }}_load({{ value|json_encode()|raw }},{{ id }}schema);
    </script>
{% endblock %}

{% block json_widget %}
    <div id="{{ id }}_json" style="width: 100%; height: 400px; float:left;"></div>
    <textarea style="display:none;" {{ block('widget_attributes') }}></textarea>

    <script>
        // create the editor
        var container = document.getElementById("{{  id }}_json");
        var options = {
            mode: '{{ mode }}', //code, text, tree
            onChange: function(){
                $('#{{ id }}').val(JSON.stringify(editor.get()));
            }
        };
        $('#{{  id }}').change(function(){
            editor.set(JSON.parse($('#{{ id }}').val()));
        });
        var editor = new SJSONEditor(container, options);

        // set json
        {%  if value  %}
            var json = JSON.parse('{{  value|raw }}');
        {%  else %}
            var json = {};
        {%  endif %}
        editor.set(json);
        $('#{{ id }}').val(JSON.stringify(editor.get()));
    </script>
{% endblock %}

{% block json_area_widget %}
    <textarea {{ block('widget_attributes') }}>{{  value|raw }}</textarea>
    <script>

    var editor = CodeMirror.fromTextArea(document.getElementById("{{  id }}"), {
        lineNumbers: true,
        mode:  {"name":"javascript", "json": true},
        smartIndent: true,
        statementIndent: 4,
        indentUnit: 4

    });
</script>
{%  endblock %}

{% block lego_number_widget %}
    N
    <input type="number" value="{{ value }}" id="{{id}}" {{ block('widget_attributes') }}/>
    <script>
    var elm = $('#{{id}}');
    var min = {% if min %} {{ min }} {% else %} null {% endif %};
    var max = {% if max %} {{ max }} {% else %} null {% endif %};
    max = (max == 0)? 99999:max;
    elm.change(function(e){
        if(min && elm.val() < min) elm.val(min);
        if(max && elm.val() > max) elm.val(max);
    });
    </script>
{% endblock %}

{% block lego_note_widget %}
    <input type="number" style="display:none;" value="{{ value }}" id="{{id}}" {{ block('widget_attributes') }}/>
    <span id="{{ id }}_container">
    </span>
    <span>&nbsp;&nbsp;<strong><span id="{{ id }}_display_note"></span> / {{ max }}</strong></span>
    <script>
    $(function () {
        var {{ id }}oldhover = null;
        function {{ id }}draw(cnote){
            $('#{{ id }}_container').html("");
            for (var note = {{ min }}; note <= {{ max }}; note++) {
                if(note == {{ min }}){
                    $('#{{ id }}_container').append($('<i data-note="' + note + '" style="width:20px; height:20px;" class="fa lego-note"></i>&nbsp;'));
                }else if (note <= cnote) {
                    $('#{{ id }}_container').append($('<i data-note="' + note + '" style="margin:2px;" class="fa fa-star lego-note"></i>'));
                } else {
                    $('#{{ id }}_container').append($('<i data-note="' + note + '" style="margin:2px;" class="fa fa-star-o lego-note"></i>'));
                }
            }
        }

        function {{ id }}update(note){
            $('#{{ id }}').val(note);
            $('#{{ id }}_display_note').html(note);
        }
        {{ id }}draw({{ value }});
        {{ id }}update({{ value }});
        $('body').on('mouseover','.lego-note',function(e){
            if($(this).attr('data-note') != {{ id }}oldhover) {
                {{ id }}oldhover = $(this).attr('data-note');
                $('#{{ id }}_display_note').html($(this).attr('data-note'));
                {{ id }}draw($(this).attr('data-note'));
            }
        });
        $('body').on('mouseout','.lego-note',function(e){
            {{ id }}oldhover = null;
            $('#{{ id }}_display_note').html($('#{{ id }}').val());
            if($(this).attr('data-note') != $('#{{ id }}').val()){
                {{ id }}draw($('#{{ id }}').val());
            }
        });
        $('body').on('click','.lego-note',function(e){
            {{ id }}update($(this).attr('data-note'));
            {{ id }}draw($(this).attr('data-note'));
        });
    });
    </script>
{%  endblock  %}

{% block entity_widget %}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select class="col-md-12 select2" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? placeholder|trans({}, translation_domain) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{% endblock %}

{% block dependent_select_widget %}
    <select class="col-md-12 " id="{{ input_id }}" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
    </select>
    <script>
    $('#{{ dependent_id }}').change(function(evt){
        var elm = $(this);
        var select = null;
        var init = false;
        $.ajax({
            url: '{{ path(route) }}',
            type: 'POST',
            dataType: 'json',
            data :{
                id : elm.val()
            },
            success: function (data) {
                $('#{{ input_id }}').find('option').remove().end();
                $.each(data, function(i, value) {
                    if(value.selected) select = value.id;
                    $('#{{ input_id }}').append($('<option>').text(value.nom).attr('value', value.id));
                });
                if(!init){
                    $('#{{ input_id }}').val({{ value }});
                    init = true;
                }else{
                    $('#{{ input_id }}').val(select);
                }
            }
        });
    });
    $(function(){
        $('#{{ dependent_id }}').change();
    });
    </script>
{% endblock %}

{% block auto_completion_widget %}
	<input {{ block('widget_attributes') }}  id="{{id}}" type="hidden" value="{{ value }}"/>
	<input id="{{champ_value_label}}" class="form-control" type="text" value="{{ value_label }}" {% if required %}required="required"{% endif %} />
	<script>
		$( "#{{ champ_value_label }}" ).autocomplete({
	      source: "{{ path(route,params) }}",
	      minLength: 2,
	      select: function( event, item ) {
	        $('#{{ id }}').val(item.item.value);
            $('#{{ id }}').change();
	        $('#{{ champ_value_label }}').val(item.item.label);
	        event.preventDefault();
	      }
	    });
	</script>
{% endblock %}

{% block range_widget %}
    <span style="display:none;" {{ block('widget_attributes') }}></span>
    <input type="hidden" name="{{ full_name }}[min_value]" id="{{id}}_min_value" value="{{min_value}}" />
    <input type="hidden" name="{{ full_name }}[max_value]" id="{{id}}_max_value" value="{{max_value}}" />

    {% if slide %}
        <div id="{{id}}-slider-range"></div>
        <input type="text" id="{{ id }}" class="form-control" readonly>
        <script>
            $(function() {
                $( "#{{id}}-slider-range" ).slider({
                    range: "{{range}}",
                    min: {{min}},
                    max: {{max}},
                    step: {{step}},
                    values: [ {{min_value}}, {{max_value}} ],
                    change: function( event, ui ) {
                        $( "#{{id}}").val( ui.values[0] + " {{unite}} - " + ui.values[1] + " {{unite}}" );
                        $( "#{{id}}_min_value" ).val( ui.values[0] * {{ multiplicator }});
                        $( "#{{id}}_max_value" ).val( ui.values[1] * {{ multiplicator }});
                    }
                });
                $( "#{{id}}" ).val({{min_value}} + " {{unite}} - " + {{max_value}}  + " {{unite}}" );
            });
        </script>
    {% else %}
        <section class="row">
            <div class="form-group">
                <label for="" class="col-md-3 control-label">de</label><div class="col-md-9"><input class="form-control input-sm" type="text"  id="{{id}}_min_show" value="{{min_value}}" placeholder="{{min}}" /></div>
                <label for="" class="col-md-3 control-label">à</label><div class="col-md-9"><input class="form-control input-sm" type="text"  id="{{id}}_max_show" value="{{max_value}}"  placeholder="{{max}}"/></div>
            </div>
        </section>
        <script>
            $('#{{id}}_min_show, #{{id}}_max_show').change(function(evt){
                var elm = $(this);
                
                if(!$('#{{id}}_min_show').val() && $('#{{id}}_max_show').val()!= ''){
                    $('#{{id}}_min_show').val({{min}});
                }
                if(!$('#{{id}}_max_show').val() && $('#{{id}}_min_show').val()!= '' ){
                    $('#{{id}}_max_show').val({{max}});
                }
               
                if({{min}} && elm.val() != '' && elm.val() < {{min}}) elm.val({{min}});
                if({{max}} && elm.val() > {{max}}) elm.val({{max}});
                if($('#{{id}}_min_show').val() != ""){
                    $('#{{id}}_min_value').val(parseFloat($('#{{id}}_min_show').val())* {{ multiplicator }});
                }
                
                if($('#{{id}}_max_show').val() != ""){
                    $('#{{id}}_max_value').val(parseFloat($('#{{id}}_max_show').val()) * {{ multiplicator }});
                }
            }).change();
        </script>
    {% endif %}

{% endblock %}

{% block lego_many_to_many_join_widget %}
    {% import _self as formMacros %}
    {% macro row(form, errors) %}
    {% spaceless %}
         <tr class="lego_collection_type">
        {#<label>Item: __name__</label>#}
        {% if errors|length > 0 %} class="warning bg-red" {% endif %}
        {% if form.count %}
            {% for field in form.getIterator() %}
                <td>{{ form_widget(field) }}</td>
            {%  endfor %}
        {% endif %}
        {{ form_errors(form) }}
         </tr>
        {% endspaceless %}
    {% endmacro %}
    <div {{ block('widget_attributes') }} data-prototype="{{ formMacros.row(prototype, errors)|e('html_attr') }}">
        <table id="table_{{ id }}" class="table">
            <tbody id="tbody_{{ id }}">
                <tr>
                    {% for field in prototype.getIterator() %}
                        <th>{{ form_label(field) }}</th>
                    {%  endfor %}
                </tr>

                {% for field in form.getIterator() %}
                    {{ formMacros.row(field, errors) }}
                {%  endfor %}
            </tbody>
        </table>
    </div>
    <script>
        {% if allow_add %}
        function addForm{{ id }}($collectionHolder) {
            var index = $collectionHolder.data('index');
            var newLine = $($collectionHolder.data('prototype'));
            //newForm = newForm.replace(/__name__/g, index);
            //$collectionHolder.data('index', index + 1);
            {% if allow_delete %}addFormDeleteLink{{ id }}(newLine);{%  endif %}
            $('#tbody_{{ id }}').append(newLine);
            $("#tbody_{{ id }} select.select2").select2({'width':'100%'});
        }
        {%  endif %}
        {% if allow_delete %}
        function addFormDeleteLink{{ id }}(line) {
            var deleteLink = $('<td><a href="#">delete this item</a></td>');
            line.append(deleteLink);
            deleteLink.on('click', function(e) {
                e.preventDefault();
                line.remove();
            });
        }
        {%  endif %}
        jQuery(document).ready(function() {
            var collection = $('div#{{ id }}');
            {% if allow_add%}
            var addLink = $('<span></span>').append($('<a href="#" class="add_link">Add</a>'));
            collection.append(addLink);
            addLink.on('click', function(e) {
                e.preventDefault();
                addForm{{ id }}(collection);
            });
            {%  endif %}
            {% if allow_delete %}
            collection.find('tr.lego_collection_type').each(function() {
                addFormDeleteLink{{ id }}($(this));
            });
            {%  endif %}


            collection.data('index', collection.find('tr').length);
        });
    </script>
{% endblock %}

{% block role_widget %}
    {% for key, item in roles %}
        <div class="{% if item starts with '*' %}collapse sub_{{key}}{% endif %}">
            <input id="{{id}}_{{ key }}" class="cascade cascade_{{ key }}" data-cascade="cascade_{{ key }}" {{ block('widget_attributes') }} type="checkbox" value="{{key}}" {% if key in value %} checked="checked"{% endif %}>&nbsp;
            <label><b>{{ key|replace({'ROLE_':''})|capitalize }}</b></label>
            &nbsp;{%  if item is iterable %}<i class="fa fa-plus-circle" onclick="$('.sub_{{key}}').toggle()"></i>{% endif %}
            <lu class="collapse sub_{{ key }}" style="list-style: none;">
                {%  for role in item %}
                    <li style="margin-left:20px;">
                        <input class="cascade cascade_{{ role }}" data-cascade="cascade_{{ key }}" id="{{id}}_{{ key }}_{{ role }}"{{ block('widget_attributes') }} type="checkbox" value="{{role}}" {% if role in value %} checked="checked"{% endif %}>
                        <label>{{ role|replace({'ROLE_':''})|capitalize }}</label>
                    </li>
                {%  endfor %}
            </lu>
        </div>
    {%  endfor %}
{% endblock %}
