




{# Rows #}
{% block form_row %}
{% spaceless %}
    <dl class="dl-horizontal">
        <dt>{{ form_label(form) }}</dt>
        <dd {% if errors|length > 0 %} class="warning bg-red" {% endif %}>{{ form_widget(form) }}
        {{ form_errors(form) }}</dd>
    </dl>
{% endspaceless %}
{% endblock form_row %}



{% block collection_widget %}
    {% import _self as formMacros %}
    {% macro row(form, errors) %}
        {% spaceless %}
            <tr class="lego_collection_type">
                {#<label>Item: __name__</label>#}
                {% if errors|length > 0 %} class="warning bg-red" {% endif %}
                {% if form.count %}
                    {% for field in form.getIterator() %}
                        <td>{{ form_widget(field) }}</td>
                    {%  endfor %}
                {% endif %}
                {{ form_errors(form) }}
            </tr>
        {% endspaceless %}
    {% endmacro %}
    <div {{ block('widget_attributes') }} data-prototype="{{ formMacros.row(prototype, errors)|e('html_attr') }}">
        <table id="table_{{ id }}" class="table">
            <tbody id="tbody_{{ id }}">
            <tr>
                {% for field in prototype.getIterator() %}
                    <th>{{ form_label(field) }}</th>
                {%  endfor %}
            </tr>

            {% for field in form.getIterator() %}
                {{ formMacros.row(field, errors) }}
            {%  endfor %}
            </tbody>
        </table>
    </div>
    <script>
        {% if allow_add %}
        function addForm{{ id }}($collectionHolder) {
            var index = $collectionHolder.data('index');
            var newLine = $($collectionHolder.data('prototype'));
            //newForm = newForm.replace(/__name__/g, index);
            //$collectionHolder.data('index', index + 1);
            {% if allow_delete %}addFormDeleteLink{{ id }}(newLine);{%  endif %}
            $('#tbody_{{ id }}').append(newLine);
            $("#tbody_{{ id }} select.select2").select2({'width':'100%'});
        }
        {%  endif %}
        {% if allow_delete %}
        function addFormDeleteLink{{ id }}(line) {
            var deleteLink = $('<td><a href="#">delete this item</a></td>');
            line.append(deleteLink);
            deleteLink.on('click', function(e) {
                e.preventDefault();
                line.remove();
            });
        }
        {%  endif %}
        jQuery(document).ready(function() {
            var collection = $('div#{{ id }}');
            {% if allow_add%}
            var addLink = $('<span></span>').append($('<a href="#" class="add_link">Add</a>'));
            collection.append(addLink);
            addLink.on('click', function(e) {
                e.preventDefault();
                addForm{{ id }}(collection);
            });
            {%  endif %}
            {% if allow_delete %}
            collection.find('tr.lego_collection_type').each(function() {
                addFormDeleteLink{{ id }}($(this));
            });
            {%  endif %}


            collection.data('index', collection.find('tr').length);
        });
    </script>
{% endblock %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}

        <div class="alert alert-block alert-danger">
        {% for error in errors %}

            <span style="color:#fff; padding:3px;"><i class="fa fa-close"></i>{{
                error.messagePluralization is null
                ? error.messageTemplate|trans(error.messageParameters, 'validators')
                : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}</span>
        {% endfor %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block checkbox_widget %}
{% spaceless %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}>
            {% if required %}<span class="form-group__required-icon">*</span>{% endif %}
{% endspaceless %}
{% endblock checkbox_widget %}


{% block form_label %}
{% spaceless %}
        {% set label_attr = label_attr|merge({'class': label_attr.class|default('')|trim}) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is not same as(false) %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ label|trans({}, translation_domain) }}{% if required %} *{% endif %}
            </label>
        {% endif %}
{% endspaceless %}
{% endblock form_label %}


{% block textarea_widget %}
{% spaceless %}
    <textarea {{ block('widget_attributes') }} class="input-block-level form-control{% if attr['maxlength'] is defined %} js-max-length-input{% endif %}" rows="5">{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}


{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} class="form-control{% if attr['maxlength'] is defined %} js-max-length-input{% endif %}">
{% endspaceless %}
{% endblock form_widget_simple %}

{%- block radio_widget -%}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock radio_widget -%}

{%- block choice_widget_expanded -%}
    {%- for child in form %}
        &nbsp;{{- form_widget(child) -}}&nbsp;
        {{ form_label(child) }}
    {% endfor -%}
{%- endblock choice_widget_expanded -%}

{% block radio_label -%}
    <label for="{{ id }}">{{ label }}</label>
{%- endblock radio_label %}
