<li class="header">{{ libelle }}</li>
<li>
    <!-- inner menu: contains the actual data -->
    <ul class="menu">
        {% for message in messages %}
        <li><!-- start message -->
            <a href="#">
                <div class="pull-left">
                    <!-- <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
                </div>
                <h4>
                    {{ message.user }}
                    <small><i class="fa fa-clock-o"></i> {{ message.time }}</small>
                </h4>
                <p>{{ message.subject }}</p>
            </a>
        </li>
        {%  endfor %}
        <!-- end message -->
    </ul>
</li>
{%  if route %}
<li class="footer"><a href="{{  path(route) }}">{{ 'lego.action.view_all'|trans }}</a></li>
{%  endif %}