<li class="header">{{ libelle }}</li>
<li>
    <ul class="menu">
        {%  for task in tasks %}
        <li>
            <a href="#">
                <h3>
                    {{ task.title }}
                    <small class="pull-right">{{ task.percent }}%</small>
                </h3>
                <div class="progress xs">
                    <div class="progress-bar progress-bar-aqua" style="width: {{  task.percent }}%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">{{  task.percent }}% Complete</span>
                    </div>
                </div>
            </a>
        </li>
        {%  endfor %}
    </ul>
</li>
{%  if route %}
    <li class="footer"><a href="{{  path(route) }}">{{ 'lego.action.view_all'|trans }}</a></li>
{%  endif %}