{% if logs|length %}
    <!-- The timeline -->
    <ul class="timeline timeline-inverse">
        {% for entry in logs %}

            {% set log = entry.log %}
            <li>
                <i class="fa fa-user"></i>
                <div class="timeline-item">
                    <div>
                        <b>{{ log.username|capitalize }}</b><br/>
                        {%  if log.action  == 'update' %}
                            <i title="{{ ("history.action."~log.action) | trans }}"  class="fa fa-edit"></i>
                        {%  elseif log.action == 'create' %}
                            <i title="{{ ("history.action."~log.action) | trans }}" class="fa fa-plus"></i>
                        {%  elseif log.action == 'remove' %}
                            <i title="{{ ("history.action."~log.action) | trans }}" class="fa fa-remove"></i>
                        {%  else %}
                            {{ ("history.action."~log.action) | trans }}
                        {%  endif %}
                        {{ ("history.object."~entry.name) | trans }}<br/>
                        <span class="time"><i class="fa fa-clock-o"></i> {{ log.loggedAt|date('d/m H:i') }}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
        <li>
            <i class="fa fa-clock-o bg-gray"></i>
        </li>
    </ul>
{% endif %}
